\documentclass[pdftex,12pt,letterpaper]{report}
\usepackage[pdftex]{graphicx}
\usepackage[us, 12hr]{datetime}
\usepackage{listings}
\usepackage{verbatim}
\usepackage{moreverb}
\usepackage[colorlinks=true]{hyperref}
\hypersetup{pdftitle={PDF Ledger}}
\let\verbatiminput=\verbatimtabinput %tabs are ignored in verbatim, this corrects for that
\def\verbatimtabsize{4\relax} % set tabs=4 (else my output goes off the screen)

\write18{bash bin/producedata.sh examples/bettse.conf /Users/bettse/Dropbox/Finances/current.lgr}
%\write18{python degree_tree.py} %run to produce example graph file

\usepackage{fullpage}


\newcommand{\HRule}{\rule{\linewidth}{0.5mm}}
\newcommand{\insertplot}[1]{\includegraphics[width=0.9\linewidth, keepaspectratio=true]{build/#1}\\[1cm]}

\begin{document}

\input{templates/bettse/title.tex}

\tableofcontents

\chapter*{Introduction}

"I kept account of every farthing I spent, and my expenses were carefully calculated. 
Every little item, such as omnibus fares or postage or a couple of coppers spent on newspapers, would be entered, and the balance struck every evening before going to bed.
That habit has stayed with me ever since, and I know that as a result, though I have had to handle public funds amounting to lakhs, I have succeeded in exercising strict economy in their disbursement, and instead of outstanding debts have had invariably a surplus balance in respect of all the movements I have led.
Let every youth take a leaf out of my book and make it a point to account for everything that comes into and goes out of his pocket, and like me he is sure to be a gainer in the end.
" -- M.K.Gandhi autobiography

\chapter{Budget}

\section{Current month progress}

\begin{figure}
\caption{Breakdown of this months expenses}
\insertplot{monthexpensepie}
\end{figure}

\begin{figure}
\caption{Boxplot of expense variance this year}
\inspertplot{budgetboxplot}
\end{figure}


Percentages are progress towards the budgeted amount.

\begin{lstlisting}
{{budget}}
\end{lstlisting}

{{#accounts}}
\chapter{ {{name}} }

{{#retrospectives?}}
\section{Retrospective}
{{/retrospectives?}}
{{#retrospectives}}
\subsection{ {{name}} }
{{=[[ ]]=}}
\insertplot{[[plotfile]]}
[[={{ }}=]]
{{/retrospectives}}

{{#forecasts?}}
\section{Forecast}
{{/forecasts?}}
{{#forecasts}}
\subsection{ {{name}} }
{{=[[ ]]=}}
\insertplot{[[plotfile]]}
[[={{ }}=]]
{{/forecasts}}

{{/accounts}}

\chapter{Net Worth}

\begin{itemize}

\item The balance of my assets to my liabilities gives my net worth (including retirement funds): {{networth}}

\item Removing long term investment and loan accounts gives my net liquidity: {{liquidity}}

\item Balancing expenses against income yields your cash flow, or net profit/loss(negative is profit, positive is loss): {{cashflow}}

\end{itemize}

\chapter{Forecast}

\section{First Tech Credit Union}

\insertplot{checking-1forecast}

\verbatiminput{build/checking-1forecast.txt}

\end{document}
